SetEnv APP_ENV production
SetEnv APP_ORIGIN https://admin.noxpanama.com
SetEnv COOKIE_SECURE true

SetEnv DB_HOST 127.0.0.1
SetEnv DB_PORT 3306
SetEnv DB_NAME nox_admin
SetEnv DB_USER nox_app
SetEnv DB_PASSWORD REEMPLACE_CON_UNA_CLAVE_SEGURA

SetEnv INITIAL_ADMIN_EMAIL admin@noxpanama.com
SetEnv INITIAL_ADMIN_PASSWORD REEMPLACE_CON_UNA_CLAVE_DE_12_CARACTERES
SetEnv INITIAL_ADMIN_NAME "Administrador NOX"
