APP_ENV=production
APP_ORIGIN=https://admin.noxpanama.com
COOKIE_SECURE=true

DB_HOST=localhost
DB_PORT=3306
DB_NAME=noxpana_noxpa
DB_USER=noxpana_noxpa
DB_PASSWORD=cambie-esta-clave

INITIAL_ADMIN_EMAIL=admin@noxpanama.com
INITIAL_ADMIN_PASSWORD=cambie-esta-clave
INITIAL_ADMIN_NAME=Administrador NOX
